*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.u-btn {
    all: unset;
    cursor: pointer;
}

.chatbox {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    bottom: 0;
    position: fixed;
    right: 1em;
    -webkit-transform: translatey(23.5em);
    transform: translatey(23.5em);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 18.5em;
    z-index: 100;
}
.chatbox-online {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    bottom: 0;
    position: fixed;
    right: 325px;
    -webkit-transform: translatey(23.5em);
    transform: translatey(23.5em);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 18.5em;
    z-index: 101;
}
.chatbox--is-visible {
    -webkit-transform: translatey(0);
    transform: translatey(0);
}
.chatbox__header {
    background: #4e4e4e;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 0.75em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chatbox__header-cta-text {
    color: #fff;
    font-weight: 300;
    font-size: 1.025rem;
}
.chatbox__header-cta-icon {
    color: #fff;
    margin-right: 0.75em;
}
.chatbox__header-cta-btn {
    background: none;
    border: none;
    color: #aaa;
    padding: 0.5em;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.chatbox__header-cta-btn:hover {
    color: #fff;
}
.chatbox__display {
    background: #ededed;
    height: 20em;
    overflow: auto;
    padding: 0.75em;
}
.chatbox__display-chat {
    background: #fff;
    border-radius: 0.5em;
    color: #666;
    font-weight: 300;
    font-size: .90rem;
    line-height: 1.5;
    padding: 0.75em;
    text-align: justify;
}
.chatbox__form {
    display: -webkit-box;
    display: flex;
}
.chatbox__form-input {
    border: none;
    color: #222;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1.25em 1em;
    width: 100%;
}
.chatbox__form-input:required {
    box-shadow: none;
}
.chatbox__form-submit {
    background: none;
    border: none;
    color: #aaa;
    padding: 1em;
}