

*, *:before, *:after {
    box-sizing: inherit;
}


.wrapper {
    margin: 2rem auto;
    width: 100px;
}

.list-container {
    border: solid 1px white;
    border-top: 0;
    transition: all .3s;
    overflow-y: auto;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
}

label {
    display: inline-block;
    width: 100%;
    background: #0096a0;
    color: white;
    cursor: pointer;
    text-align: center;
    position: relative;
    border-radius: 3px;
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.5rem 0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
label::after {
    content: '+';
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-weight: 700;
    display: block;
    transition: all .3s;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
input[type=checkbox]:checked + label {
    border-radius: 3px 3px 0 0;
}
input[type=checkbox]:checked + label::after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
input[type=checkbox]:checked + label + .list-container {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}
ul li {
    width: 100%;
    background: white;
    border-bottom: solid 1px #ccc;
}
ul li:hover a {
    background: aliceblue;
    padding-left: 1.5rem;
}
ul li a {
    display: block;
    padding: 0.5rem;
    color: #333;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    transition: all .3s;
}